.custom-navbar {
    min-height: 10vh; 
    background-color: #2e2e2e; 
    display: flex;
    align-items: center; 
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    line-height: 10vh;
}